body {
  background: #cae5fb;
  font-family: "Roboto", sans-serif;
}

.tenki-yoho-container {
  background: #62a4dd;
  box-shadow: 0 30px 50px rgba(42, 38, 51, 0.08);
  border: none;
  border-radius: 14px;
  padding: 30px;
  max-width: 550px;
  margin: 30px auto;
}

.city-search-form {
  border-bottom: 1px solid #4d98d6;
  padding: 0 0 30px 0;
}

.enter-city-form {
  border: none;
  border-radius: 4px;
  background: #d1e9fc;
  margin: auto;
  padding: 12px 30px;
  width: 400px;
}
.search-city-form {
  background: #025ea9;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 25px;
  margin-left: 10px;
}

.tenki-details {
  text-align: center;
}

.tenki-city {
  font-size: 35px;
  margin-top: 30px;
}

.weather-app-details {
  display: flex;
  justify-content: center;
}

.tenki-icon {
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: -5px;
  margin-left: -25px;
  margin-right: -5px;
}

.tenki-temperature {
  font-size: 80px;
  margin-left: -3px;
  margin-right: 5px;
}

.tenki-unit {
  margin-top: 10px;
  margin-right: -20px;
}

.tenki-yoho-details {
  color: rgba(10, 10, 10, 0.6);
  font-size: 15px;
}

.tenki-yoho-details strong {
  color: rgb(129, 8, 32);
}

a {
  color: #025ea9;
}

footer {
  border-top: 1px solid #4d98d6;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  padding: 30px 0 0 0;
  text-align: center;
}
